body {
  background-image: url("C.gif");
}
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }
    li{
      border:2px solid blue;
      display:inline-block;
      margin:0.5rem;
    }
    
    a{
      text-decoration:none;
      background-color:#ffd9b3;
      color:#600;
      padding:0.5rem;
      display:block;
    }
    a:hover{
      background-color:#600;
      color:#ff3333;
    }
caption{
  font-weight: bold;
  font-size: 31px;
  text-align: left;
  color: rgb(197, 248, 13);
  margin-bottom: 12px;
  text-align: center;
}
thead{
  background-color: darkgray;
  color: crimson;
  text-transform:uppercase;
  letter-spacing: 3%;
}

th, td{
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  border: 5px solid rgb(9, 218, 250);
  text-align: center;
  vertical-align: middle;
}
thead th{
  width: 20%;  
}
.cell-highlight {
    background-color: lightsalmon;
    font-weight: bold;
}
tbody tr:nth-child(odd) {
  background-color: lightsteelblue;
}
tbody th {
  background-color: mediumvioletred;
  color: palegoldenrod;
  text-align: center;
}

footer {
    background-color:rgb(5, 237, 67);
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
